<!DOCTYPE html>
<html>
<head>
<script src="../static/js/login.js" th:src="@{/js/login.js}" th:inline="javascript"></script>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<img alt="Good news Everyone!" src=".../static/test/img/Good_news_everyone.gif" th:src="@{/test/img/Good_news_everyone.gif}"/>
	<h2>It works!</h2>
	<button th:if="${session.auth} == null" onclick="location.href = '/testNovoUsuario';">Cadastro Usuário</button>
	<button onclick="location.href = '/testListarUsuarios';">Listar Todos Usuários</button>
	<button th:if="${session.auth} == null" onclick="location.href = '/testLogin';">Login Profissionais</button>
	<button th:if="${session.auth} == null" onclick="location.href = '/testLoginEmpresa';">Login Empresas</button>
	<button th:if="${(session.auth != null) and session.tipoUsuario == 'Profissional'}" onclick="location.href = '/testPerfil';">Meu Perfil</button>
	<button th:if="${(session.auth != null) and session.tipoUsuario == 'Empresa'}" onclick="location.href = '/testGerenciarOficinas';">Gerenciar Minhas Oficinas</button>
	<button th:if="${(session.auth != null) and session.tipoUsuario == 'Profissional'}" onclick="location.href = '/testListaOficinas';">Oficinas</button>
	<button th:if="${session.auth} != null" onclick="location.href = '/userLogout';" id="logout">Log Out</button><br>

</body>
</html>